<div class="container">
  <!--タイトル-->
  <div class="row">
    <div class="col-lg-12 mt-3 mb-3 text-center">
      <h2><strong><%= @user.name %>様の会員ステータス変更</strong></h2>
    </div>
  </div>
  <!--ステータス変更-->
  <div class="row">
    <div class="col-lg-12 mt-3 mb-3 text-center">
      <%= form_with model: @user, url: admin_user_user_path(@user), method: :patch do |f| %>
        <%= f.radio_button :is_deleted, false %> <%= f.label :is_active, "有効" %>
        <%= f.radio_button :is_deleted, true %> <%= f.label :is_active, "退会" %>
        <%= f.submit "変更を保存" %>
      <% end %>
    </div>
  </div>
  <!--戻るボタン-->
  <div class="row">
    <div class="col-lg-12 mt-3 mb-3 text-center">
      <%= link_to admin_user_users_path, class: 'text-link' do %>
        <strong><i class="fas fa-chevron-circle-left"></i>一覧ページに戻る<i class="fas fa-chevron-circle-left"></i></strong>
      <% end %>
    </div>
  </div>

</div>



