
<h3>
  <% if @alcohol.present? %>
    <%= @alcohol.name %>に合うおすすめレシピ
  <% else %>
    すべてのレシピ
  <% end %>
</h3>

<%= search_form_for @q, url: search_public_recipes_path, method: :get do |f| %>
  <%= f.text_field :name_cont %>
  <%= f.submit "検索" %>
<% end %>
<p>
  <%= link_to '新しい順', public_recipes_path(latest: "true")%>
  <%= link_to 'ランキング順', public_recipes_path(star_count: "true") %>
</p>

<%= render "public/recipes/recipe_genre", alcohols: @alcohols %>

<% @recipes.each do |recipe| %>
  <%= link_to public_recipe_path(recipe.id) do %>
    <p><%= image_tag recipe.get_image(200,200) %></p>
    <p>レシピ名: <%= recipe.name %></p>
  <% end %>
    <p>レシピコメント: <%= recipe.explanation %></p>
    <div id= "bookmarks_<%= recipe.id %>" >
      <%= render "public/bookmarks/bookmark", recipe: recipe %>
    </div>
    
<% end %>