
<h3>
  <% if @alcohol.present? %>
    <%= @alcohol.name %>に合うおすすめレシピ
  <% else %>
    すべてのレシピ
  <% end %>
</h3>

<%= render "public/searches/form", q: @q %>

<p>
  <%= link_to '新しい順', public_recipes_path(latest: "true")%>
  <%= link_to 'ランキング順', public_recipes_path(star_count: "true") %>
</p>

<%= render "public/recipes/recipe_genre", alcohols: @alcohols %>

<% @recipes.each do |recipe| %>
  <%= link_to public_recipe_path(recipe.id) do %>
    <p><%= image_tag recipe.get_image(200,200) %></p>
    <p>レシピ名: <%= recipe.name %></p>
  <% end %>
    <p>レシピコメント: <%= recipe.explanation %></p>
    <div id= "bookmarks_<%= recipe.id %>" >
      <%= render "public/bookmarks/bookmark", recipe: recipe %>
      お気に入り数：<%= recipe.bookmarks.count %>
    </div>

    <div id="rate_<%= recipe.id %>" class="form-group"></div>
    <%= recipe.reviews_avg %>
      <script>
      $(document).on('turbolinks:load', function() {
        $('#rate_<%= recipe.id %>').empty();
        $('#rate_<%= recipe.id %>').raty({
          size: 20,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= recipe.reviews_avg %>,
        });
      });
      </script>
<% end %>