
<h3>
  <% if @alcohol.present? %>
    <%= @alcohol.name %>に合うおすすめレシピ
  <% else %>
    すべてのレシピ
  <% end %>
</h3>

<% @recipes.each do |recipe| %>
  <%= link_to public_recipe_path(recipe.id) do %>
    <p><%= image_tag recipe.get_image(200,200) %></p>
    <p>レシピ名: <%= recipe.name %></p>
  <% end %>
    <p>レシピコメント: <%= recipe.explanation %></p>
<% end %>