<div class="container">
  <div class="row mt-5 mb-5 mx-auto">
    <h2 class="title"><strong><%= @recipe.name %></strong></h2>
  </div>

  <div class="row mx-auto">
    <p><%= image_tag @recipe.get_image(400,400) %></p>
  </div>

  <div class="row mx-auto">
    <div id= "bookmarks_<%= @recipe.id %>" >
      <%= render "public/bookmarks/bookmark", recipe: @recipe %>
    </div></br>

    <% @recipe.alcohols.each do |alcohol| %>
      <p><strong>合うお酒</strong>：<%= alcohol.name %></p>
    <% end %>
    <p><%= @recipe.explanation%></p>
    <p><strong>食材</strong>：<%= @recipe.ingredient %></p>
    <p><strong>作り方</strong>：<%= @recipe.procedure %></p>
  </div>

  <div class="row mx-auto">
    <div class="col-auto">
      <%= render "public/reviews/form", recipe: @recipe, review: @review %>
      <p><%= link_to "戻る", public_recipes_path,class: 'text-dark' %></p>
    </div>
    <div class="col-auto mr-auto">
      <%= render "public/reviews/review", recipe: @recipe %>
    </div>
  </div>

</div>