<h3>レシピ詳細</h3>
<p><%= image_tag @recipe.get_image(200, 200) %></p>
<p>レシピ名：<%= @recipe.name %></p>
<p>お酒：</p>
<% @recipe.alcohols.each do |alcohol| %>
  <%= alcohol.name %>
<% end %>
<p><%= @recipe.ingredient%></p>
<p>食材：<%= @recipe.explanation %></p>
<p>作り方：<%= @recipe.procedure %></p>

<div id= "bookmarks_<%= @recipe.id %>" >
  <%= render "public/bookmarks/bookmark", recipe: @recipe %>
  お気に入り数：<%= @recipe.bookmarks.count %>
</div>

<%= render "public/reviews/review", recipe: @recipe %>

<%= render "public/reviews/form", recipe: @recipe, review: @review %>

<p><%= link_to "戻る", public_recipes_path %></p>


