<div class="container">
  <!--追加フォーム＋エラーメッセージ-->
  <div class="row">
    <div class="col-lg-12 mt-5 mb-3 text-center">
      <h2>お酒追加</h2>
      <%= render 'layouts/errors', obj: @alcohol %>
      <%= form_with model: @alcohol, url: admin_user_alcohols_path, method: :post do |f| %>
        <%= render "admin_user/alcohols/form", f: f %>
      <% end %>
    </div>
  </div>
  <!--お酒一覧（テーブル）-->
  <div class="row">
    <div class="col-lg-6 text-center mb-3 offset-3">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th><h4>お酒一覧</h4></th>
          </tr>
        </thead>
        <tbody>
          <% @alcohols.each do |alcohol| %>
            <tr class="table-light">
              <td>
                <h5><%= alcohol.name %></h5>
                <%= link_to edit_admin_user_alcohol_path(alcohol.id),class: "text-success" do %>
                  <i class="fas fa-edit"></i>編集する
                <% end %>
                <%= link_to admin_user_alcohol_path(alcohol), method: :delete, "data-confirm" => "本当に削除しますか？" ,class: "text-secondary" do %>
                  <i class="fas fa-trash-alt text-dark"></i>削除する
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>