<div class="container">
   <div class="row">
    <div class="col-lg-12 mt-5 mb-3 text-center">
      <h2><strong>検索結果</strong></h2>
    </div>
  </div>
  <div class="row">
    <% if @recipes.present? %>
      <% @recipes.each do |recipe| %>
        <div class="col-lg-6">
          <div class="magnification">
            <div class="card w-100 text-center mt-4 shadow-lg">
              <%= link_to public_recipe_path(recipe.id),class: 'text-link' do %>
                <%= image_tag recipe.get_image(400,400),class: 'card-img-top' %>
              <div class="card-body">
                <h5 class="card-title"><strong><%= recipe.name %></strong></h5>
                <p class="card-text"><%= recipe.explanation %></p>
              </div>
              <% end %>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <span id= "bookmarks_<%= recipe.id %>" >
                    <%= render "public/bookmarks/bookmark", recipe: recipe %>
                  </span>
                  お気に入り数：<%= recipe.bookmarks.count %> ｜
                  レビュー数：<%= recipe.reviews.count %>
                </li>
                <li class="list-group-item">
                  <span>評価：<%= recipe.reviews_avg %>点</span>：
                  <span id="rate_<%= recipe.id %>" class="form-group"></span>
                    <script>
                    $(document).on('turbolinks:load', function() {
                      $('#rate_<%= recipe.id %>').empty();
                      $('#rate_<%= recipe.id %>').raty({
                        size: 20,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf: '<%= asset_path('star-half.png') %>',
                        half: true,
                        readOnly: true,
                        score: <%= recipe.reviews_avg %>,
                      });
                    });
                    </script>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col-lg-12 text-center">
        <p><strong>検索結果はありません</strong></p>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-12 mt-5 mb-3 text-center">
      <%= link_to public_recipes_path, class: 'text-link' do %>
        <i class="fas fa-chevron-circle-left"></i>一覧ページに戻る<i class="fas fa-chevron-circle-left"></i>
      <% end %>
    </div>
  </div>

</div>