<div class="container">

  <div class="row">
    <div class="col-lg-6 text-center mt-3 mb-3 ">
      <%= link_to edit_admin_user_recipe_path(@recipe) ,class: "text-success" do %>
        <i class="fas fa-edit text-success"></i>編集
      <% end %>
    </div>
     <div class="col-lg-6 text-center mt-3 mb-3 ">
      <%= link_to admin_user_recipe_path(@recipe), method: :delete, "data-confirm" => "本当に削除しますか？" ,class: "text-secondary" do %>
        <i class="fas fa-trash-alt text-dark"></i>削除する
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 mt-5 mb-1 p-2 text-center">
      <h2>
        <strong><%= @recipe.name %></strong>
      </h2>
      <strong>合うお酒</strong>
      <% @recipe.alcohols.each do |alcohol| %>
        /<%= safe_join(alcohol.name.split("\n"),tag(:br)) %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 mb-3 text-center">
      <%= image_tag @recipe.get_image(400,400),class: "image-show" %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <p class="comment-show"><%= @recipe.explanation %></p>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="col-lg-6">
      <p class="text-bg"><strong>食材</strong></br><%= safe_join(@recipe.ingredient.split("\n"),tag(:br)) %></p>
    </div>
    <div class="col-lg-6">
      <p class="text-bg"><strong>作り方</strong></br><%= safe_join(@recipe.procedure.split("\n"),tag(:br)) %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mt-3 mb-3 text-center">
      <%= link_to admin_user_recipes_path, class: 'text-link' do %>
        <strong><i class="fas fa-chevron-circle-left"></i>一覧ページに戻る<i class="fas fa-chevron-circle-left"></i></strong>
      <% end %>
    </div>
  </div>


</div>
