<p><%= image_tag @recipe.image, size: "200x200" %></p>
<p><%= @recipe.name %></p>
<p><%= @recipe.ingredient%></p>
<p><%= @recipe.explanation %></p>
<p><%= @recipe.procedure %></p>
<p><%= link_to "編集する", edit_admin_user_recipe_path(@recipe) %></p>
<p><%= link_to "削除する", admin_user_recipe_path(@recipe), method: :delete, "data-confirm" => "本当に削除しますか？" %></p>
<p><%= link_to "戻る", admin_user_recipes_path %></p>








