<!DOCTYPE html>
<html>
  <head>
    <title>Sakeate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--<header>-->
    <!--  <nav class="navbar">-->
    <!--    <div class="logo">-->
    <!--      <P>LOGO</P>-->
    <!--    </div>-->
    <!--    <div class="mene">-->
    <!--      <%#if admin_signed_in? %>-->
    <!--        <ul>-->
    <!--          <li-->
    <!--        </ul>-->
    <!--      <%#end %>-->
    <!--    </div>-->
    <!--  </nav>-->
      
      
    <!--</header>-->
    
    <main>
      <%= yield %>
    </main>
    
    <footer></footer>
  </body>
</html>
