<!DOCTYPE html>
<html>
  <head>
    <title>Sakeate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-light bg-white">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag 'logo', :size =>'100x60' %></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <%= link_to admin_user_recipes_path,class: 'nav-link text-dark' do %>
                 レシピ一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_user_alcohols_path,class: 'nav-link text-dark' do %>
                 お酒一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_user_users_path,class: 'nav-link text-dark' do %>
                 ユーザー一覧
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_admin_user_session_path, method: :delete,class: 'nav-link text-dark' do %>
                 ログアウト
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div id="flash-success">
        <%=render "layouts/notice" %>
      </div>
      <%= yield %>
    </main>

    <footer class="text-center">©sakeate</footer>

  </body>
</html>