<!--ユーザー評価一覧-->
<% recipe.reviews.each do |review| %>
  <div class="row border border-dark mb-1">
    <!--ユーザー情報-->
    <div class="col-lg-3 text-center bg-white">
      <%= image_tag review.user.get_profile_image(60,60), class:"mt-3 rounded-circle" %>
      <p><strong><%= review.user.name %></strong></p>
      <!--星評価-->
      <div id="rate<%= review.id %>"></div>
      <script>
      $(document).on('turbolinks:load', function() {
        $('#rate<%= review.id %>').empty();
        $('#rate<%= review.id %>').raty({
          size: 20,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= review.rate %>,
        });
      });
      </script>
    </div>
    <!--コメントと日付-->
    <div class="col-lg-9 pt-3 bg-light">
      <p><%= review.text %></p></br>
      <%= review.created_at.strftime('%Y/%m/%d') %>
      <% if review.user == current_user %>
        <%= link_to public_recipe_review_path(review.recipe, review), method: :delete do %>
          <i class="fas fa-trash-alt text-dark"></i>
        <% end %>
      <% end %>
    </div>

  </div>
<% end %>
