 <div id="rate_<%= review.id %>" class="form-group"></div>
  <script>
  $(document).on('turbolinks:load', function() {
    $('#rate_<%= review.id %>').empty();
    $('#rate_<%= review.id %>').raty({
      size: 20,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= review.rate %>,
    });
  });
  </script>
