<div class="container">
  <!--タイトル＋エラーメッセージ-->
  <div class="row">
    <div class="col-lg-12 mt-5 text-center">
      <h2>編集ページ</h2>
      <%= render 'layouts/errors', obj: @user %>
    </div>
  </div>
  <!--ユーザー編集フォーム-->
  <div class="row">
    <div class="col-lg-12 mt-2 mb-3 text-center">
      <%= form_with model: @user, url: public_user_path, method: :patch do |f| %>
        <%= f.label :profile_image,"プロフィール画像" %>
        <p><%= f.file_field :profile_image, accept: "image/*" %></p>
        <%= f.label :name,"名前" %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :email,"email" %>
        <%= f.text_field :email, class: 'form-control' %>
        <p><%= f.submit "変更を保存" %></p>
      <% end %>
      <%= link_to public_users_quit_path, class: 'text-dark' do %>
        退会ページへ
      <% end %>
    </div>
  </div>
  <!--戻るボタン-->
  <div class="row">
    <div class="col-lg-12 m-3 text-center">
      <%= link_to public_user_path, class: 'text-link' do %>
        <strong><i class="fas fa-chevron-circle-left"></i>マイページに戻る<i class="fas fa-chevron-circle-left"></i></strong>
      <% end %>
    </div>
  </div>

</div>



